@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
    font-family: 'Montserrat', sans-serif;
}


.nav-wrapper{
    background:#1b5e20;
}

.nav-wrapper p {
    margin: 0px;
    font-size: 25px;
}

/*Formulário*/
.input-field label {
    color: #1b5e20;
    font-size: 17px;
}
.fundo{
 background-image: url(../img/3.jpg);
}

.btn{
    text-transform: initial !important;
}



.campe , .segu , .terce{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
}